{{ block title }}Round summary{{ endblock }}

{{ block content }}


<style>
    .feedback-message {
        font-size: 1.1em; /* Increase font size */
        background-color: #f0f8ff; /* Light blue background */
        border-left: 5px solid #007bff; /* Add a left border for emphasis */
        padding: 15px;
        margin-bottom: 20px;
    }
    .otree-timer { display: none; }

</style>

<div class="feedback-message">
{% if feedback_treat == "competitive" %}
    {% if spent_less_than <= 1 %}
        <!------------ COMPETITIVE GOOD ------------>
        <p>Thank you for your report! You spent more effort on your report
        than <b>{{spent_more_than}}</b> (and the same as <b>{{spent_as_much_as}}</b>)
        out of <b>3</b> other contributors. The effort that you’ve put into the
        report has made a significant impact on our city, accounting for
        <b>{{contribution_percent}}%</b> of all effort contributed to your group.
        Your payout this round is <b>{{player.payoff}}</b>.</p>

    {% else %}
        <!------------ COMPETITIVE BAD ------------>
        <p>We appreciate your report. However, your effort contribution to
        your report was not high: <b>{{spent_less_than}}</b> of 3 other
        contributors put more effort in their report than you, resulting
        in a total of <b>{{group.total_spend}}</b> contributed
        by your group, to which you contributed <b>{{player_contrib}}</b>.
        However, we believe that by increasing your dedication and effort,
        you have the potential to make an even more significant contribution
        than your peers in future reports. Your payout this round is
        <b>{{player.payoff}}</b>.</p>
    {% endif %}
{% elif feedback_treat == "cooperative" %}
    <!------------ COOPERATIVE ------------>
    <p>Thanks to your groups efforts, the city is becoming a better place.
    For the betterment of our city and the well-being of its citizens, we
    encourage you to devote greater effort and attention to detail in your
    future reports. In total, all 4 members of your group contributed
    {{ group.total_spend }} to the city’s improvement. Your personal
    payoff this round is {{ player.payoff }} .  <b></p>
{% else %}
    <!------------ NEUTRAL ------------>
    <p>You submitted <b>{{ player_contrib }}</b>, with a payoff of
    <b>{{ player.payoff }}</b> for you this round. The total
    contribution of your group is <b>{{ group.total_spend }}</b>.</p>
{% endif %}
</div>

{{ next_button }}

{{ endblock }}
